@CHARSET "UTF-8";
#member #member_main{
	width:620px;
	height:500px;
	margin:15px;
	border:1px solid #999;
	float:right;
}
#member #member_main table{
	width:95%;
	margin:10px auto;
	text-align:center;
	background:#ccc;
	margin-bottom:0px;
	border:1px solid #ccc;
	
}
#member #member_main table th ,#member #member_main table td{
	height:25px;
	line-height:25px;
	background:#fff;
}
#member #member_main table td a{
	text-decoration:none;
	color:#333;
}
#member #member_main td a:hover{
	text-decoration:underline;
}




